
/* Hero section */

.hero-image {
    background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url('../images/hero.jpg');
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 56px;
    text-align: center;
}

.navbar-brand {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem; /* space between icon and text */
    padding: 0.25rem 0; /* optional vertical spacing */
}

.navbar-brand img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    display: block;
}

/* Tips Section */

.card-title {
    text-align: center;
}

/* Affirmations Section */

#affirmations {

}

/* Services Section */

#services {

}

    /* Make the max width perameter for the cards */

/* Main */

h2 {
    text-align: center;
    padding-top: 50px;
}

p {
    text-align: center;
}

.urgent-info {
    text-align: center;
    font-weight: bold;
}